<p style="color: green"><%= notice %></p>

<h1><%= t('books.book_title') %></h1>

<div class="index-item">
  <% @books.each do |book| %>
    <div class="index-item">
      <%= render book %>
      <p>
        <%= link_to t('books.show_this_book'), book %>
      </p>
    </div>
  <% end %>
</div>

<nav class="page-nav">
  <%= link_to t('books.new_book'), new_book_path %>
</nav>
