<p style="color: green"><%= notice %></p>

<h1><%= t('.book') %></h1>

<div class="index-item">
  <% @books.each do |book| %>
    <div class="index-item">
      <%= render book %>
      <p>
        <%= link_to t('books.look', model: Book.model_name.human), book %>
      </p>
    </div>
  <% end %>
</div>

<nav class="page-nav">
  <%= link_to t('books.add', model: Book.model_name.human), new_book_path %>
</nav>
